<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="m-5 container text-center">
      <h1>This page does not exist</h1>
    </div>

    <div style="margin-bottom: 550px;"></div>
    <%-include('./partials/footer.ejs') %>
  </body>
</html>
