<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <section class="py-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="p-3 text-center">
              <h1 style="color: #27374d">Change your Password</h1>
            </div>
            <div class="card text-white" style="background-color: #526d82">
              
              <form class="m-4" method="POST" action="/change-password">

                <h6><%= message %></h6>
                <% if(user == null) { %>
                <div class="mb-3">
                  <label for="email" class="form-label">Your Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="example@example.com"
                    name="user_email"
                    required
                  />
                </div>
                <% } else { %>
                <div class="mb-3">
                  <label for="oldPassword" class="form-label"
                    >Your Old Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="oldPassword"
                    placeholder="Your Old Password"
                    name="user_password"
                    required
                  />
                </div>
                <% } %>
                
                <div class="mb-3">
                  <label for="newPassword" class="form-label"
                    >New Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    placeholder="Your New Password"
                    name="user_password_n"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label for="confirmNewPassword" class="form-label"
                    >Confirm New Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="confirmNewPassword"
                    placeholder="Confirm New Password"
                    name="user_password_ncon"
                    required
                  />
                </div>
                
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="showPassword"
                    onchange="togglePassword()"
                  />
                  <label class="form-check-label" for="showPassword"
                    >Show Password</label
                  >
                </div>
                
                <div class="text-center">
                  <button
                    id="btnChangePassword"
                    class="btn btn-primary"
                    style="background-color: #27374d; border: none"
                  >
                    Change Password
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      function togglePassword() {
        var passwordInput = document.getElementById("newPassword");
        var confirmPassword = document.getElementById("confirmNewPassword");
        var checkbox = document.getElementById("showPassword");
        passwordInput.type = checkbox.checked ? "text" : "password";
        confirmPassword.type = checkbox.checked ? "text" : "password";
      }
    </script>

    <script src="/public/Java script/Functions.js"></script>

    <script>
      document.getElementById("btnChangePassword").onclick = changeYourPassword;
    </script>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
