<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="container text-center">
      <h1 class="mb-1 mt-2" style="color: #27374d">
        Frequently Asked Questions
      </h1>
      <p class="mb-2 mt-0" style="color: #526d82">
        Welcome to our Frequently Asked Questions (FAQs) page, designed to
        provide you with helpful information about lost and found items. Whether
        you've misplaced something valuable or found an item that doesn't belong
        to you, these FAQs aim to address common queries and guide you on the
        appropriate steps to take.
      </p>
    </div>

    <div class="container mt-5">
      <div>
        <!-- Question 1 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q1: What should I do if I've lost something?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              If you've lost something, follow these steps:
              <ul>
                <li>
                  Retrace Your Steps: Go back to where you last remember having
                  the item and retrace your steps.
                </li>
                <li>
                  Check Lost and Found: If you're in a public place, check with
                  the lost and found department or security.
                </li>
                <li>
                  Notify Authorities: Report the loss to the relevant
                  authorities, such as the police or management of the
                  establishment where you lost the item.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Question 2 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q2: How can I report a lost item to the authorities?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              To report a lost item to the authorities:
              <ul>
                <li>
                  Contact the Police: Call the non-emergency police line or
                  visit the local police station to file a report.
                </li>
                <li>
                  Online Reporting: Some police departments allow online
                  reporting for non-emergency situations. Check their official
                  website for information.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Question 3 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q3: Is there a central database for lost and found items?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              There isn't a single global database, but some areas or
              institutions may have local databases. Websites like MissingX or
              Tile have networks for locating lost items.
            </div>
          </div>
        </div>

        <!-- Question 4 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q4: What information should I provide when reporting a lost
                item?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              When reporting a lost item, provide detailed information such as:
              <ul>
                <li>
                  Description: Detailed description of the item (color, size,
                  brand, etc.)
                </li>
                <li>Location: Where you last had the item.</li>
                <li>Time: When you last saw the item.</li>
                <li>Contact Information: Your contact details.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Question 5 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q5: How can I check for lost items in my local area?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              To check for lost items in your local area:
              <ul>
                <li>
                  Contact Local Authorities: Call or visit the local police
                  station or relevant authorities.
                </li>
                <li>
                  Online Platforms: Check local online platforms, community
                  boards, or social media groups where people often post about
                  lost and found items.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Question 6 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q6: What should I do if I find a lost item?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              If you find a lost item:
              <ul>
                <li>
                  Take it to Authorities: Hand it over to local authorities or
                  the establishment where you found it.
                </li>
                <li>
                  Check for Identification: If there's any identification on the
                  item, try to contact the owner directly.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Question 7 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q7: Are there specific locations for dropping off found items?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              Yes, there are specific locations for dropping off found items:
              <ul>
                <li>
                  Lost and Found Centers: Public places, transportation hubs,
                  and large establishments often have dedicated lost and found
                  centers.
                </li>
                <li>
                  Police Stations: You can also take found items to the local
                  police station.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Question 8 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q8: How long should I wait before reporting a found item?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              It's best to report a found item as soon as possible to increase
              the chances of reuniting it with the owner.
            </div>
          </div>
        </div>

        <!-- Question 9 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q9: Is there a difference between lost and stolen items?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              Yes, there is a difference. "Lost" refers to items unintentionally
              left behind, while "stolen" implies that someone intentionally
              took the item without permission.
            </div>
          </div>
        </div>

        <!-- Question 10 -->
        <div class="card m-1" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                style="color: #27374d; font-size: 18px"
                class="btn btn-link nav-link"
                type="button"
              >
                Q10: How can I increase the chances of recovering my lost item?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              To increase the chances of recovering your lost item:
              <ul>
                <li>
                  Act Quickly: Report the loss and search for the item promptly.
                </li>
                <li>
                  Provide Details: When reporting, give as much detail as
                  possible about the lost item.
                </li>
                <li>
                  Use Technology: Consider using tracking devices or apps to
                  locate lost items.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- contact us page link -->
        <div class="card m-1 bg-warning" style="border: 2px solid #27374d">
          <div class="card-header">
            <h2 class="mb-0">
              <button
                class="btn btn-link nav-link"
                type="button"
                style="color: #27374d; font-size: 18px"
              >
                You Didn't Find The Answer To Your Question ?
              </button>
            </h2>
          </div>

          <div>
            <div class="card-body">
              <p class="card-text" style="color: primary">
                Please feel free to contact us for assistance Through
                <a class="link-primary" href="/contact">Contact us Page</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
